<ion-view hide-nav-bar="true">
<ion-content class="burger-page padding" ng-controller="GalleryCtrl">

   <a class="item item-list-detail">
	 <ion-scroll direction="x">
	   <img ng-repeat="image in burgerImages" ng-src="{{image.src}}" ng-click="showBurgerImages($index)" class="image-list-thumb"/>
	 </ion-scroll>
   </a>

  <div class="burger-div">
	<h1>BURGERS</h1>
	<p>*All Burgers come with Fries*</p>

	<h4>1. Pauls's Special ~ $6.75</h4>
	<p class="description"> Lettuce, Tomato, Pickles, Onion, 1000 Island, American Cheese</p>

	<h4>2. Hamburger ~ $6.50</h4>
	<p>Paul's Special without the cheese</p>

	<h4>3. Bacon Cheeseburger ~ $7.45</h4>
	<p> Paul's Special with Bacon</p>

	<h4>4. California Burger ~ $7.45</h4>
	<p>Lettuce, Tomato, Avocado, Bacon, Swiss, Mayo, 1000 Island</p>

	<h4>5. Hawaiian Burger ~ $7.25</h4>
	<p>Lettuce, Pineapple, American Cheese, Mayo, Teriyaki Sauce</p>

	<h4>Havarti Burger ~ $7.45</h4>
	<p>Lettuce, Tomato, Pickle, Onion, Mayo, 1000 Island, Havarti Cheese</p>

	<h4>7. Leonard's Burger ~ $7.95</h4>
	<p>Lettuce, Tomato, Pickle, Onion, Bacon, Ham, Mayo, 1000 Island, American and Swiss Cheese</p>

	<h4>8. Grilled Onion Burger ~ $7.25</h4>
	<p>Grilled Onions with American Cheese</p>

	<h4>9. Mushroom Burger ~ $7.45</h4>
	<p>Lettuce, Tomato, Pickle, Grilled Mushroom, Mayo, 1000 Island, Ameircan Cheese</p>

	<h4>10. Garden Burger ~ $ 7.95</h4>
	<p>Lettuce, Tomato, Pickle, Onion, Mayo, 1000 Island, American Cheese</p>

	<h4>11. Teriyaki Chx Burger ~ $7.25</h4>
	<p>Lettuce, Pickle, Onion, Teriyaki Sauce</p>

	<h4>12. Fish Burger ~ $7.45</h4>
	<p>Lettuce, Pickle, Onion,Mayo, 1000 Island, American Cheese</p>

	<h4>13. Grilled Chx Ranch Burger ~ $7.99</h4>
	<p>Lettuce, Tomato, Bacon, Swiss, Ranch</p>

	<p>(Tartar, 1000 Island, Ranch, BBQ Sauce Available</p>
  </div>
</ion-content>
</ion-view>