<h1>Burgers</h1>
<p>*All Burgers come with Fries*</p>

<h3>1. Pauls's Special ..... $6.75</h3>
<p class="description"> Lettuce, Tomato, Pickles, Onion, 1000 Islnd, American Cheese</p>

<h3>2. Hamburger ..... $6.50</h3>
<p>Paul's Special without the cheese</p>

<h3>3. Bacon Cheeseburger ..... $7.45</h3>
<p> Paul's Special with Bacon</p>

<h3>4. California Burger ..... $7.45</h3>
<p>Lettuce, omato, Avocado, Bacon, Swiss, Mayo, 1000 Island</p>

<h3>5. Hawaiian Burger ..... $7.25</h3>
<p>Lettuce, Pineapple, American Cheese, Mayo, Teriyaki Sauce</p>

<h3>Havarti Burger ..... $7.45</h3>
<p>Lettuce, Tomato, Pickle, Onion, Mayo, 1000 Island, Havarti Cheese</p>

<h3>7. Leonard's Burger ..... $7.95</h3>
<p>Lettuce, Tomato, Pickle, Onion, Bacon, Ham, Mayo, 1000 Island, American and Swiss Cheese</p>

<h3>8. Grilled Onion Burger ..... $7.25</h3>
<p>Grilled Onions with American Cheese</p>

<h3>9. Mushroom Burger ..... $7.45</h3>
<p>Lettuce, Tomato, Pickle, Grilled Mushroom, Mayo, 1000 Island, Ameircan Cheese</p>

<h3>10. Garden Burger ..... $ 7.95</h3>
<p>Lettuce, Tomato, Pickle, Onion, MAyo, 1000 Island, American Cheese</p>

<h3>11. Teriyaki Chicken Burger ..... $7.25</h3>
<p>Lettuce, Pickle, Onion, Teriyaki Sauce</p>

<h3>12. Fish Burger ..... $7.45</h3>
<p>Lettuce, Pickle, Onion,Mayo, 1000 Island, American Cheese</p>

<h3> Grilled Chicken Ranch Burger</h3>
<p>Lettuce, Tomato, Bacon, Swiss, Ranch</p>

<p>(Tartar, 1000 Island, Ranch, BBQ Sauce Available</p>