<ion-view hide-nav-bar="true">
  <ion-content class="home-page padding">
    <div class="logo">
      <div class="paul-div"><img class="paul-image" src="../img/paul.jpg" />
      </div>
      <div class="contact-info">
        <h1>Paul's Burger Joint</h1>
        <p>241 SW 152nd Street</p>
        <p>Burien, WA 98166</p>
        <p>(206) 246-3501</p>
        <p>Monday thru Saturday: 11:00 am - 8:00 pm</p>
        <p>Sunday: Closed</p>
      </div>
    </div>
  
    <div class"menu-option">
      <div class="teriyaki">
        <a href="#" class="teriyaki-link"><img src="../img/teriyaki.jpg"></img</a>
    	</div>
      <div class="burger">
        <a href="#" class="burger-link"><img src="../img/burger.jpg"></img></a>
    	</div>
      <div class="shake">
        <a href="#" class="shake-link"><img src="../img/shake.jpg"></img></a>
      </div>
    </div>
  </ion-content>
</ion-view>