<ion-view hide-nav-bar="true">
  <ion-content class="home-page padding">

    <main class="main-content">

      <div class="menu-option">
        <a href="#/tab/teriyaki"class="teriyaki-link"><img class="neon-img" src="../img/teriyaki.jpg"></img></a>
        <a href="#/tab/burger" class="burger-link"><img class="neon-img" src="../img/burger.jpg"></img></a>
        <a href="#/tab/shakes" class="shake-link"><img class="neon-img" src="../img/shake.jpg"></img></a>
      </div>

      <div class="social-links">
        <a href="https://www.facebook.com/Pauls-Burger-Joint-121422741201935/" target=_blank><div class="facebook"><img src="../img/facebook2.png" /></div></a>
        <a href="http://www.yelp.com/biz/pauls-burger-joint-burien" target=_blank><div class="yelp"><img src="../img/yelp2.png" /></div></a>
        <a href="https://www.zomato.com/burien-wa/pauls-burger-joint-burien" target=_blank><div class="zomato"><img src="../img/zomato.png" /></div></a>
      </div>

    </main>
  </ion-content>
</ion-view>
