<ion-view hide-nav-bar="true">
  <ion-content class="home-page padding">

    <div class="logo">

      <div class="paul-div"><img class="paul-image" src="../img/paul-img.jpg" />
      </div>

      <div class="contact-info">
        <h1>Paul's Burger Joint</h1>
        <p>241 SW 152nd Street</p>
        <p>Burien, WA 98166</p>
        <p>(206) 246-3501</p>
        <p>Monday thru Saturday: 11:00 am - 8:00 pm</p>
        <p>Sunday: Closed</p>
      </div>

    </div>

    <main class="main-content">

      <div class="menu-option">
        <a href="#" class="teriyaki-link"><img class="neon-img" src="../img/teriyaki.jpg"></img></a>
        <a href="#" class="burger-link"><img class="neon-img" src="../img/burger.jpg"></img></a>
        <a href="#" class="shake-link"><img class="neon-img" src="../img/shake.jpg"></img></a>
      </div>

      <div class="social-links">
        <a href="https://www.facebook.com/Pauls-Burger-Joint-121422741201935/" target=_blank><img src="../img/facebook.png"></img></a>
        <a href="http://www.yelp.com/biz/pauls-burger-joint-burien" target=_blank><img src="../img/yelp.png"></a>
        <a href="https://www.zomato.com/burien-wa/pauls-burger-joint-burien" target=_blank><img src="../img/zomato.png"</a>
      </div>

    </main>
  </ion-content>
</ion-view>
