<ion-view hide-nav-bar="true">
<ion-content class="shakes-page padding" ng-controller="GalleryCtrl">

  <a class="item item-list-detail">
	 <ion-scroll direction="x">
	   <img ng-repeat="image in shakesImages" ng-src="{{image.src}}" ng-click="showShakesImages($index)" class="image-list-thumb"/>
	 </ion-scroll>
   </a>

  <div class="shakes-div">
	<h1>SHAKES</h1>

	<h4>Shake ~ sm. $3.25</h4>
	<h4>Malts ~ $0.35 extra</h4>
	<p>Bana, Oreo, Chocolate, Peanut Butter, Pineapple, Raspberry, Strawberry, Rootbeer, Vanilla</p>
	<p>(Extra $0.50 for more than one flavor)</p>

	<h1>Side Order</h1>
	<h4>1.  French Fries ~ sm. $2.49 / lg. $3.49</h4>
	<h4>2. Curly fries ~ sm. $2.99 / lg. $3.99</h4>
	<h4>3. Onion Rings ~ sm. $2.99 / lg. $3.99</h4>
	<h4>4. Fried Mushroom ~ sm. $3.99 / lg. $4.99</h4>
	<h4>5. Nugget with Fries (6pcs) ~ $4.99</h4>
	<h4>6. Nugget with Fries (9pcs) ~ $5.99</h4>
	<h4>7. Nugget with Fries (12pcs) ~ $6.99</h4>
	<h4>8. Chicken Strips with Fries (3pcs) ~ $6.99</h4>
	<h4>9. Chicken Strips with Fries (5pcs) ~ $8.99</h4>
	<h4>10. Gyoza (6pcs) ~ $3.99</h4>
	<h4>11. Gyoza (8pcs) ~ $4.99</h4>
	<h4>12. Gyoza (10pcs) ~ $5.99</h4>
	<h4>13. Egg Rolls ~ 1pc. $2.50 / 2pcs. $3.99</h4>
	<h4>14. Steamed Rice ~ $2.50</h4>
	<h4>15. Salad ~ $2.50</h4>
	<h4>16. Extra Sauce ~ $0.45</h4>
	<br>
  </div>
</ion-content>
</ion-view>