<ion-tabs class="tabs-icon-top tabs-positive">

  <ion-tab icon="ion-home"
    href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab icon="ion-ionic" href="#/tab/burger">
	  <ion-nav-view name="us-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab icon="ion-arrow-resize" href="#/tab/teriyaki">
	  <ion-nav-view name="philippines-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab icon="ion-minus-round" href="#/tab/drinksshakes">
	  <ion-nav-view name="travels-tab"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>