<ion-tabs class="tabs-icon-top tabs-positive">

  <ion-tab title="Home" icon="ion-home"
    href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Burger" href="#/tab/burger">
	  <ion-nav-view name="us-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Teriyaki" href="#/tab/teriyaki">
	  <ion-nav-view name="philippines-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Drinks and Shakes" href="#/tab/drinksshakes">
	  <ion-nav-view name="travels-tab"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>