<h1>Teriyaki</h1>
<p>Dishes with ** are server with Rice and Salad</p>
<p>Substitution w/ Fried Rice + $1.99</p>

<h3>1. Chicken Teriyaki** ..... $7.99</h3>
<h3>2. Spicy Chicken** ..... $8.99</h3>
<h3>3. Chicken Breast Teriyaki** ..... $9.99</h3>
<h3>4. Beef Teriyaki** ..... $9.99</h3>
<h3>5. Prawn Teriyaki** ..... $9.99</h3>
<h3>6. eef Short Ribs** ..... $12.49</h3>
<h3>7. Chicken Katsu** ..... $8.99</h3>
<h3>8. Chicken Yakisoba ..... $8.99</h3>
<h3>9. Beef Yakisoba ..... $9.99</h3>
<h3>10. Prawn Yakisoba ..... $9.99</h3>
<h3>11. Chicken Fried Rice ..... $8.99</h3>
<h3>12. Beef Fried Rice ..... $9.99</h3>
<h3>13. Prawnn Fried Rice ..... $9.99</h3>
<h3>14. Gyoza Plate** ..... $7.99</h3>
<h3>15. Chicken Bowl ..... $4.99</h3>

<h1>Seafood</h1>
<h3>1. Fish and Chips ..... 3pcs. $9.99  5pcs. $13.99</h3>
<h3>2. Prawn and Chips ..... 7pcs. $9.99 10pcs. $13.99</h3>

<h1>Combination</h1>
<h3>1. Chicken and Gyoza** ..... $8.99</h3>
<h3>2. Beef or Katus and Gyoza** ..... $9.99/$8.99</h3>
<h3>3. Chicken and Beef** ..... $9.99</h3>
<h3>4. Chicken and Prawn** ..... $9.99</h3>
<h3>5. Chicken and Beef Short Ribs** ..... $12.49</h3>
<h3>6. Chicken and Prawn Tempura** ..... $9.99.49</h3>
<h3>7. Chicken and Katsu** ..... $9.99</h3>
<h3>8. Chicken and General Chicken ..... $9.99</h3>
<h3>9. Chicken and S/S Chicken ..... $9.99</h3>
<h3>10. Chicken and Sesame Chicken ..... $9.99</h3>
<h3>11. Mongolian Beef and General Chicken ..... $11.49</h3>

<h1>Chinese Wok</h1>
<h3>1. Mongolian Beef ..... $10.99</h3>
<h3>2. Broccoli Chicken/Beef ..... $9.99/$10.99</h3>
<h3>3. Honey Sesame Chicken ..... $8.99</h3>
<h3>4. General Tsao's Chicken ..... $8.99</h3>
<h3>5. Sweet and Sour Chicken ..... $8.99</h3>
<h3>6. Orange Chicken ..... $8.99</h3>
<h3>7. Kung Pao Chicken ..... $9.99</h3>
<h3>8. Almond Chicken ..... $9.99</h3>
<h3>9. Mushroom Chicken ..... $9.99</h3>
<h3>10. Chicken Chow Mein ..... $8.99</h3>
<h3>11. Beef/Prawn Chow Mein ..... $9.99</h3>
<h3>12. Stir Fry + Choice of Meat ..... $8.99</h3>
<p>(Chicken/Beef/Tofu)</p>
