<ion-view hide-nav-bar="true">
<ion-content class="teriyaki-page padding">
  <div class="teriyaki-div">
	<h1>TERIYAKI</h1>
	<p>Dishes with ** are server with Rice and Salad</p>
	<p>Substitution w/ Fried Rice + $1.99</p>

	<h4>1. Chicken Teriyaki** ~ $7.99</h4>
	<h4>2. Spicy Chicken** ~ $8.99</h4>
	<h4>3. Chx Breast Teriyaki** ~ $9.99</h4>
	<h4>4. Beef Teriyaki** ~ $9.99</h4>
	<h4>5. Prawn Teriyaki** ~ $9.99</h4>
	<h4>6. Beef Short Ribs** ~ $12.49</h4>
	<h4>7. Chicken Katsu** ~ $8.99</h4>
	<h4>8. Chicken Yakisoba ~ $8.99</h4>
	<h4>9. Beef Yakisoba ~ $9.99</h4>
	<h4>10. Prawn Yakisoba ~ $9.99</h4>
	<h4>11. Chicken Fried Rice ~ $8.99</h4>
	<h4>12. Beef Fried Rice ~ $9.99</h4>
	<h4>13. Prawn Fried Rice ~ $9.99</h4>
	<h4>14. Gyoza Plate** ~ $7.99</h4>
	<h4>15. Chicken Bowl ~ $4.99</h4>

	<h1>SEAFOOD</h1>
	<h4>1. Fish & Chips ~ 3pcs. $9.99  5pcs. $13.99</h4>
	<h4>2. Prawn and Chips ~ 7pcs. $9.99 10pcs. $13.99</h4>

	<h1>COMBINATION</h1>
	<h4>1. Chicken and Gyoza** ~ $8.99</h4>
	<h4>2. Beef or Katus and Gyoza** ~ $9.99/$8.99</h4>
	<h4>3. Chicken and Beef** ~ $9.99</h4>
	<h4>4. Chicken and Prawn** ~ $9.99</h4>
	<h4>5. Chicken and Beef Short Ribs** ~ $12.49</h4>
	<h4>6. Chicken and Prawn Tempura** ~ $9.99</h4>
	<h4>7. Chicken and Katsu** ~ $9.99</h4>
	<h4>8. Chicken and General Chicken ~ $9.99</h4>
	<h4>9. Chicken and S/S Chicken ~ $9.99</h4>
	<h4>10. Chicken and Sesame Chicken ~ $9.99</h4>
	<h4>11. Mongolian Beef and General Chicken ~ $11.49</h4>

	<h1>CHINESE WOK</h1>
	<h4>1. Mongolian Beef ~ $10.99</h4>
	<h4>2. Broccoli Chicken/Beef ~ $9.99/$10.99</h4>
	<h4>3. Honey Sesame Chicken ~ $8.99</h4>
	<h4>4. General Tsao's Chicken ~ $8.99</h4>
	<h4>5. Sweet and Sour Chicken ~ $8.99</h4>
	<h4>6. Orange Chicken ~ $8.99</h4>
	<h4>7. Kung Pao Chicken ~ $9.99</h4>
	<h4>8. Almond Chicken ~ $9.99</h4>
	<h4>9. Mushroom Chicken ~ $9.99</h4>
	<h4>10. Chicken Chow Mein ~ $8.99</h4>
	<h4>11. Beef/Prawn Chow Mein ~ $9.99</h4>
	<h4>12. Stir Fry + Choice of Meat ~ $8.99</h4>
	<p>(Chicken/Beef/Tofu)</p>
  </div>
</ion-content>
</ion-view>